<h1>Data Projects</h1>
<ul>
    <li><a href="https://edeckter.github.io/doctorwho/doctorwho_networkgraph.html">The Social Web of <i>Doctor Who</i></a>
    <li><a href="https://edeckter.github.io/baseball/">The State of Major League Pitching: A Visual Investigation</a>
    <li><a href="https://edeckter.github.io/atlantichurricanes">2018 Atlantic Hurricanes</a>
    <li><a href="https://edeckter.github.io/2018_boxoffice/movies_2018.html">Annual Box Office Analysis (2018)</a></li>
    <li><a href="https://edeckter.github.io/gender_in_politics/">Gender Politics</a></li>

</ul>
